:root {
	--main-yellow: #edc815;
}



/*------------------ RESET CSS ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------ CSS ------------------*/
body {
	font-family: 'Roboto', sans-serif;
	font-height: 1.8;
	font-size: 40px;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 50vw auto;
}


.people-container {
	
	max-width: 100%;
	max-height: 100vh;
	display: grid;
	grid-template-columns: auto auto;
}

.people-container:before {
	content: '';
	background-color: var(--main-yellow);
	z-index: -1;
	width: 60%;
	margin-left: -12%;
	height: 100%;
	position: absolute;

	-webkit-transform: skewX(5deg);
  -moz-transform: skewX(5deg);
  -ms-transform: skewX(5deg);
  -o-transform: skewX(5deg);
  transform: skewX(5deg);
}

.daniel {
	max-height: 100%;
	max-width: 180%;
	z-index: 100;
	margin: auto auto -10% -50%;
	overflow: hidden;
}

.michal {
	max-height: 100%;
	max-width: 150%;
	z-index: 10;
	margin: auto auto -10% -48%;
	overflow: hidden;
}


.content-container {
	padding: 50px;
	margin: auto auto auto auto;
	max-width: 520px;
	max-height: 100vh;
}

.logo{
	max-width: 300px;
	margin-right: 0;
	margin-bottom: 35px;
}

.header {
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 25px;
}

.description {
	font-size: 20px;
	margin-bottom: 25px;

}

.description span {
	font-weight: bold;
}

.description-small {
	font-size: 14px;
	margin-bottom: 20px;
}

button {
	border: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.form-button {
	background-color: var(--main-yellow);
	height: 45px;
	width: 250px;

	display: grid;
	grid-template-columns: 60% 40%;

	transition-duration: 0.5s;
}

.form-button p {
	font-size: 14px;
	justify-self: center;
	align-self: center;
}

.form-button img {
	display:block;
	justify-self: center;
	align-self: center;
	background-color: none;

	transition-duration: 0.5s;
}

.form-button:hover img{
	transform: translateX(10px);
	transition-duration: 0.1s;
}

.form-button:hover {
	background-color: #f2a90d;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}


input[type=text], input[type=email] {
	height: 45px;
	width: 320px;
	margin-bottom: 10px;
	font-size:14px;
	padding-left: 15px;
	border-color: #666666;
	box-shadow: none;
	background-color: none;
}

input[type=text]:focus, input[type=email]:focus {
	border-color: var(--main-yellow);
	outline: none;
	box-shadow: none;
}


.check {
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 10px;
}


/*-------------------------------------------------------- small height */

@media only screen and (max-height: 750px) {

.content-container {
	padding: 15px 30px 25px 30px;
	margin: auto auto auto auto;
	max-width: 520px;
	max-height: 100vh;
}

.logo{
	max-width: 300px;
	margin-right: 0;
	margin-bottom: 25px;
}

.header {
	font-weight: bold;
	line-height: 1.1;
	font-size: 30px;
	margin-bottom: 15px;
}

.description {
	font-size: 16px;
	margin-bottom: 15px;

}

.description span {
	font-weight: bold;
}

.description-small {
	font-size: 14px;
	margin-bottom: 20px;
}

}

/*-------------------------------------------------------- mobile */

@media only screen and (max-width: 600px) {

.wrapper {
	background-image: url("../img/mobile-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	width: 100vw;
	display: grid;
	grid-template-columns: auto;
}


.people-container {
	display: none;
}

.people-container:before {
	display: none;
}

.daniel {
	display: none;
}

.michal {
	display: none;

}


.content-container {
	padding: auto 0 auto 0;
	text-align: center;
}

.logo{
	max-width: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.header {
	font-weight: bold;
	font-size: 25px;
	line-height: 1.1;
	margin-bottom: 25px;
}

.description {
	font-size: 14px;
	margin-bottom: 25px;

}

.description-small {
	font-size: 14px;
	margin-bottom: 20px;
}

button {
	border: 0;
	padding: 0;
	margin-bottom: 20px;
}


.form-button {
	background-color: var(--main-yellow);
	height: 45px;
	width: 100%;
	min-width: 200px;
	max-width: 340px;

	display: grid;
	grid-template-columns: 60% 40%;

	transition-duration: 0.5s;
}

.form-button p {
	font-size: 14px;
	justify-self: center;
	align-self: center;
}

.form-button img {
	display:block;
	justify-self: center;
	align-self: center;
	background-color: none;

	transition-duration: 0.5s;
}

.form-button:hover img{
	transform: translateX(10px);
	transition-duration: 0.1s;
}

.form-button:hover {
	background-color: #f2a90d;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}


input[type=text] {
	height: 45px;
	max-width: 320px;
	width: 100%;
	background: transparent;
	margin-left: -10px;
}

input[type=text]:focus {
	border-color: var(--main-yellow);
	outline: none;
	box-shadow: none;
}

}





